.homelink {
    display: flex;
    font-family: 'Montserrat SemiBold';
    font-size: 16px;
    // color: #E6E6E6;
    align-items: center;

    &__p1 {
        font-size: 40px;
        color: black;
        width: 150px;
        height: 140px;
        background-color: black;
        font-size: 16px;
        line-height: 32px;
    }
}

.flex1 {
    display: flex;
}