.div_1{
    .div_main{
        padding-left: 150px;
        padding-bottom:30px;
    }
    .h1{
        font-size: 40px;
        font-weight: bold;
        color:#1C3554;
        padding-top:50px;
    }
    .p{
        max-width: 50%;
        padding-top:10px;
    }
    .h2{
        font-size:30px; 
        font-weight: bold;
        color:#1C3554;
        padding-top:30px;
    }
}
